---
---

<div class="flex items-center justify-center mb-12">
    <h2 class="font-bold text-4xl text-center">Conócenos un poco más</h2>
  </div>
<section class="text-white mb-5 py-4 px-6 min-h-[88vh] flex flex-col justify-center">

  

  <div class="max-w-7xl mx-auto flex flex-col md:flex-row md:items-center md:justify-center gap-12">
    
    <!-- Texto -->
    <div class="md:w-1/2 text-center md:text-left">
      <h2 class="text-3xl font-semibold mb-6">¿Quiénes somos?</h2>
      <p class="mb-4">
        En <strong>Calusajo</strong>, llevamos más de 5 años creando momentos inolvidables desde nuestra pasión la decoración en tus eventos soñados. Nos enfocamos en los detalles, dedicados a transformar espacios y emociones en experiencias únicas que reflejen la esencia en cada celebración.
      </p>
      <p class="mb-4">
        Combinamos creatividad, compromiso, dedicación y profesionalismo para diseñar ambientes que cautivan, ya sea en bodas, XV años, cumpleaños, entre otras.
      </p>
      <p class="mb-6">
        No solo somos una marca de eventos, somos tu aliado para dar vida a tus sueños.
      </p>
      <a href="/contact" class="bg-black text-white px-6 py-2 rounded hover:bg-gray-800 transition">
        Contáctanos
      </a>
    </div>

    <!-- Imagen -->
    <div class="md:w-1/2">
      <img
        src="/public/aboutus.jpeg"
        alt="Imagen de decoración"
        class="w-full max-w-full rounded-lg shadow-lg object-cover mx-auto"
      />
    </div>

  </div>
</section>




