

<footer class="bg-gray-800 text-white p-4">
    <div>
        Morrihhhhhhhhhhhhhhhhhhh
        <br>
        le gusta
        <br>
        la morra

        <button class="bg-gray-700 text-white px-4 py-2 rounded mt-4 hover:bg-gray-600 transition">
           <a href="https://www.instagram.com/mauriciobonilla.10/">perfil ig</a> 
        </button>
    </div>
</footer>